@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
    background-color: #ffffff!important;
}
h1 {
    font-family: "Playfair Display"!important;
}
li p {
    font-family: "Hind Vadodara"!important;

}
#pposition::placeholder{
    padding-left: 13px;
}
li {
    cursor: pointer !important;
}

@media screen and (max-width: 500px){
    .header__height {
        height: 400px;
    }

    .my__work__card {
        width: 300px;
        height: 330px;
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
        padding-top: 0;
    }

    .my__slide__card{
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
    }

    .my__slide__pic {
      width: 200px;
    }

    .work__card__pic1 {
        width: 220px;
    }
    .work__card__pic2 {
        width: 70px;
    }

}

